:root,
:root[data-theme="dark"] {
  --primary-color: #f0f0f0;

  --primary-bg-color: #111217;
  --second-bg-color: #28292e;
  --border-color: #28292e;

  --title-color: #f0f0f0;
  --text-color: #9a9a9c;
  --link-color: #9a9a9c;
  --icon-color: #c7c8c9;
}

:root[data-theme="light"] {
  --primary-color: #0b0b0f;

  --primary-bg-color: #e9e9e9;
  --second-bg-color: #c7c8c9;
  --border-color: #c7c8c9;

  --title-color: #0b0b0f;
  --text-color: #28292e;
  --link-color: #28292e;
  --icon-color: #56575a;
}

/* html[data-theme="light"] .brand__logo {
  filter: invert(1);
} */

/* html[data-theme="light"] .habilidades__logo {
  filter: invert(80%);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
}

body {
  background: var(--primary-bg-color);
  font-family: "Poppins", Courier, monospace;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--primary-color);
  font-weight: 600;
}

p {
  color: var(--text-color);
}

li {
  color: var(--text-color);
}

h1 {
  font-size: 2.5rem;
  font-weight: 200;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 200;
}

p {
  font-size: 1.25rem;
  text-align: justify;
}

i {
  color: var(--icon-color);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
}

.header__toggle {
  display: flex;
  justify-content: flex-end;
}

.header__brand .brand__logo {
  width: 3.25rem;
  height: 3.25rem;
}

#toggleTheme {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: ease-in-out 0.4s;
}

.menu {
  display: flex;
  align-items: center;
  background: var(--primary-bg-color);
}

.menu__item {
  width: 100%;
}

.menu--mobile {
  width: 100vw;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  border: 1px solid var(--border-color);
}

.menu--mobile .menu__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
  color: var(--primary-color);
  font-weight: 600;
}

.menu__icon,
.menu__text {
  color: var(--text-color);
}

.menu__icon {
  font-size: 1.5rem;
}

.menu__text {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.header__nav {
  display: none;
}

.menu--principal {
  gap: 1rem;
}

.menu--social {
  gap: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: transparent;
  border-radius: 3.125rem;
  border: none;
  padding: 0.875rem 1.5rem;
  transition: ease-in-out 0.3s;
  cursor: pointer;
  color: var(--primary-color);
}

.btn.btn:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}

.btn span,
.btn i {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.btn--primary span {
  color: var(--primary-color);
}

.btn--primary {
  border: 1px solid var(--primary-color);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 1rem;
}

.main__content1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.habilidades {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  padding: 6.25rem 1rem 2rem 1rem;
  background: var(--second-bg-color);
  margin-top: -5.5rem;
}

.habilidades h2 {
  font-size: 2rem;
  text-transform: none;
}

.lista__habilidades {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.item__habilidades {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--border-color);
  border-radius: 50rem;
}

.habilidades__logo {
  height: 2.4rem;
}

.projetos {
  display: flex;
  flex-direction: column;
}

.projetos__card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card__cover {
  width: 100%;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
}

.card__title {
  font-size: 1.5rem;
}

.card__description {
  font-size: 1rem;
  color: var(--title-color);
}

.card__list {
  margin-left: 1rem;
}

.card__item {
  list-style: disc;
}

.card__buttons {
  display: flex;
}

.card__body .item__habilidades {
  width: 4rem;
  height: 4rem;
}

.card__body .habilidades__logo {
  height: 2rem;
}

footer {
  margin: 5rem;
}

footer p {
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 5rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .header {
    position: fixed;
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 6rem;
    background: var(--primary-bg-color);
  }

  .nav--mobile {
    display: none;
  }
  .header__nav {
    display: flex;
  }

  .header__nav,
  .header__toggle {
    min-width: 30%;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
    letter-spacing: 0.4rem;
  }

  main,
  .projetos {
    padding: 8rem 6rem 4rem 6rem;
  }

  main {
    display: flex;
    flex-direction: column;
    padding: 8rem 6rem 4rem 6rem;
  }

  .main__content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8rem 6rem 4rem 6rem;
  }

  .habilidades {
    padding: 6.25rem 6rem 2rem 6rem;
    margin-top: -6rem;
  }

  footer p {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 4rem;
  }

  main {
    padding: 12rem 6rem 2rem;
  }

  .main__content1 .btn {
    width: auto;
  }

  .habilidades {
    flex-direction: row;
    justify-content: space-between;
    padding: 10rem 6rem 4rem;
  }

  .habilidades h2 {
    font-size: 3.5rem;
    width: 60%;
  }

  .lista__habilidades {
    gap: 1rem;
  }

  .item__habilidades {
    width: 6rem;
    height: 6rem;
  }

  .habilidades__logo {
    height: 3rem;
  }
  .projetos__card {
    flex-direction: row;
  }

  .card__cover {
    width: 50%;
  }

  .card__title {
    font-size: 3.25rem;
  }

  .card__description,
  .card__item {
    font-size: 1.25rem;
  }

  .card__buttons .btn {
    width: auto;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 6.25rem;
  }

  h2 {
    font-size: 5rem;
  }

  p {
    font-size: 1.5rem;
  }

  .header {
    padding: 1rem 15rem;
  }

  main {
    padding: 12rem 15rem 2rem;
  }

  .habilidades {
    padding: 10rem 15rem 4rem;
  }
}
